
*{
padding: 0px;
margin: 0px;
box-sizing: border-box;


}
nav.navbar{
    background:silver;
    line-height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* position: sticky; */
    top: 0px;
    margin: auto;
    flex-wrap: wrap;
}
#check,.checked{
    display: none;
}
.list{

list-style: none;
display: flex;

}
.list li a{
    text-decoration: none;
    padding: 10px;
    transition: all 1s;
    color: black;
}
@media screen and (max-width:800px) {
      .list{
        display: flex;
    flex-direction:column;
    position:fixed;
    background: linear-gradient(white);
    color:white;
    height: 100vh;
    width: 100%;
    top: 80px;
    left: 99%;
    transition: all 1s;


     }

.checked{


    display: block;
}
#check:checked~ul{
    left: 70%;
}
}
